.text-justify {
  text-align: justify;
  text-justify: inter-word;
  margin-top: -15px;
}
.reaction {
  margin-top: -10px;
}
.item-cateogry {
  margin-top: -10px;
  margin-left: 0px;
}

.item-cateogry button {
  height: 30px;
}
.banner {
  background-color: #f4f4f5;
}
.thread-item {
  cursor: pointer;
}

.thread-item > header,
.item-cateogry,
.reaction {
  cursor: default;
}

.loading {
  position: sticky;
  top: 0;
  z-index: 9999;
}
